@use '../variables' as *

.subheader
    @include sub-header
    background-image: url('/assets/Yasmin4.jpg')
    background-position: 0% 30%

.about
    // width: 60%
    display: grid
    gap: 2em
    padding-top: 12em
    // margin: 0 auto

    &_item
        display: grid
        grid-template-columns: 3fr 2fr
        
        &_figure
            position: relative

            &__image
                

        &__body
            font-size: 1.2em
