@use '../variables' as *

.about
    width: 60%
    display: grid
    gap: 2em
    padding-top: 3em
    margin: 0 auto

    &__title

    &_item
        display: grid
        grid-template-columns: 3fr 2fr
        
        &_figure
            position: relative

            &__image
                

        &__body
            font-size: 1.2em
