@use '../variables' as *
    
.subheader
    @include sub-header
    background-image: url('/assets/Yasmin2.jpg')
    background-position: 0% 20%

.faq
    width: 100%
    display: grid
    padding-top: 25em
    margin: 0 auto