@use '../variables' as *
    
.home
    width: 100%
    height: 100%
    padding-top: 3em
    background-color: $light-pink-text

    &_hero
        position: relative
        width: 100%
        aspect-ratio: 3/2   

        &__image


    &_about
        @include container
        padding: none
        margin: 0 auto
        
        &__heading
            @include title
            width: 100%
            font-size: 1.4em
            margin-bottom: 0.5em

        &_content
            display: grid

            &_figure
                display: none
                position: relative
                width: 100%
                aspect-ratio: 2/3
                
                &__image
            

            &_text
                width: 100%
                padding-bottom: 1em
                @include body
                display: grid
                gap: 0.7em

                &__item

    &_break
        position: relative
        width: 100%
        aspect-ratio: 3/2

    &_menu
        @include container
        margin: 0 auto
        padding: 0

        &__title
            @include title
            text-transform: uppercase

    &_consent
        position: fixed
        display: flex
        width: 100%
        height: 100%
        inset: 0
        justify-content: center
        align-items: center
        background-image: url('/assets/Yasmin9.jpg')
        background-size: cover
        background-position: center
        overflow: hidden
        transition: opacity 900ms ease-out
        z-index: 4000

        &_popup
            width: 20em
            height: 20em
            background-color: #ffefe8e6
            display: flex
            flex-direction: column
            justify-content: center

            &_content
                text-align: center

                &__title
                    font-weight: 200
                    font-size: 1.5em
                    margin-bottom: 0.3em

                &__exp
                    margin-bottom: 4em

                &__button
                    border: none
                    background-color: transparent
                    color: $that-red-one
                    text-transform: uppercase
                    font-size: 1.8em
                    font-weight: 200
                    cursor: pointer

        &___fadeout
            opacity: 0

@media screen and ( min-width: $tablet )
    .home
        padding-top: 3em

        &_about
            padding-bottom: 2em
            margin: 0 auto

            &_content
                display: grid
                grid-template-columns: 1fr 1fr

                &_figure
                    display: block
                    position: relative
                    width: 100%
                    aspect-ratio: 2/3
                    
                    &__image

                &_text
                    padding: 0 0 0 1em


        &_break

        &_menu
            margin: 0 auto
            padding-bottom: 1em

            &__title
                // font-size: 1.8em
                // margin-bottom: 1em

        &_consent_popup
            width: 100%
            height: 12em

            &_content

                &__title
                    font-size: 1.7em

                &__exp
                    margin-bottom: 2em

                &__button
                    margin-bottom: 1.2em
        
@media screen and ( min-width: $desktop-sm )
    .home
        padding-top: 3em
        
        &_hero

            &__image


        &_about
            padding-bottom: 2em

            &__heading
                margin-bottom: 0.5em
            
            &_content

                &_figure
                    position: relative
                    width: 100%
                    aspect-ratio: 2/3
                    
                    &__image

                &_text
                    width: 100%
                    font-size: 1em
                    padding: 0
                    padding-left: 1.5em
                    padding-bottom: 3em
                    gap: 0.1em

                    &__item
                        margin: 0


        &_break


        &_menu
            margin: 0 auto
            padding: 2em

            &__title
                text-align: left
                // font-size: 1.8em
                // margin-bottom: 1em

        &_consent_popup
            width: 100%
            height: 16em

            &_content

                &__title
                    font-size: 2.4em
                    margin-bottom: 0.18em

                &__exp
                    font-size: 1.2em
                    margin-bottom: 2.4em

                &__button
                    position: relative
                    margin-bottom: 0.8em

                    &::after
                        content: ''
                        position: absolute
                        width: 100%
                        bottom: 0
                        left: 0
                        height: 0.07em
                        scale: 0 1
                        background-color: $that-red-one
                        transition: all 250ms ease

                    &:hover:after
                        scale: 1 1 