@use '../variables' as *
    
.home
    width: 100%
    height: 100%
    padding-top: 3em
    background-color: $light-pink-text
    
    &_hero
        position: relative
        width: 100%
        aspect-ratio: 3/2   

        &__image


    &_about
        width: 22em
        display: grid
        padding: none
        margin: 0 auto

        &_figure
            display: none
            position: relative
            width: 100%
            aspect-ratio: 2/3
            
            &__image

        &_text
            width: 100%
            display: grid
            gap: 0.7em
            padding: 1.1em 0 1em

            &__heading
                @include title
                // font-size: 1.4em
                // text-transform: uppercase
                // font-weight: 200

            &__body
                @include body
                // font-size: 1.1em
                // font-weight: 200

    &_break
        width: 100%
        aspect-ratio: 3/2
        background-image: url('/assets/Yasmin1.jpg')
        background-size: contain
        background-repeat: no-repeat
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center


    &_menu
        width: 22em
        margin: 0 auto
        padding: 0

        &__title
            text-transform: uppercase
            font-size: 1.4em
            font-weight: 200
            text-align: center
            color: black
            margin: 0.5em 0

@media screen and ( min-width: $tablet )
    .home
        padding-top: 3em
        
        &_hero

            &__image


        &_about
            width: 30em
            display: grid
            padding: 2em
            margin: 0 auto

            &_figure
                position: relative
                width: 100%
                aspect-ratio: 2/3
                
                &__image

            &_text
                width: 100%
                padding-left: 2em

                &__heading
                    margin-bottom: 0.5rem

                &__body
                    font-size: 1.1em
                    font-weight: 200
                    margin-bottom: 0.5rem

        &_break


        &_menu
            width: 60%
            margin: 0 auto
            padding: 2em

            &__title
                font-size: 1.8em
                margin-bottom: 1em
        
@media screen and ( min-width: $desktop-sm )
    .home
        padding-top: 3em
        
        &_hero

            &__image


        &_about
            width: 70%
            display: grid
            grid-template-columns: 1fr 1fr
            padding: 2em
            margin: 0 auto

            &_figure
                position: relative
                width: 100%
                aspect-ratio: 2/3
                
                &__image

            &_text
                width: 100%
                padding-left: 2em

                &__heading
                    margin-bottom: 0.5rem

                &__body
                    font-size: 1.1em
                    font-weight: 200
                    margin-bottom: 0.5rem

        &_break


        &_menu
            width: 60%
            margin: 0 auto
            padding: 2em

            &__title
                font-size: 1.8em
                margin-bottom: 1em
