@use '../variables' as *
    
.subheader
    @include sub-header
    background-image: url('/assets/Yasmin5.jpg')
    background-position: 0% 0%

    
.together
    width: 100%
    display: grid
    padding-top: $photo-height
    margin: 0 auto

    &_item
        min-height: 30em
        display: flex
        justify-content: space-between
    
        &:nth-of-type(2n)
            flex-direction: row-reverse

        &:nth-last-of-type(2n) *
            text-align: right

        &:nth-of-type(2n) div
            align-items: flex-end

        &:nth-of-type(4)
            height: 36em
            
            
        &__image
            position: relative
            width: 50%
            height: 100%
            min-height: 30em

        &_text
            width: 50%
            display: flex
            flex-direction: column
            justify-content: center
            background-color: $light-pink-text
            padding: 0.8em

            &__title
                text-transform: uppercase
                font-weight: 200
                margin-bottom: 0.8rem

            &_priceList
                margin-bottom: 0.8rem

                &__time
                    font-weight: 800

                &__price
                    font-weight: 200

            &__body
                width: 80%
                font-weight: 200
                margin-bottom: 0.8rem

    &_aside
        display: grid
        gap: 0.8em
        margin-top: 1.5em

        &__item
            font-weight: 200
            font-style: italic
