@use '../variables' as *
    
.together
    width: 100%
    display: grid
    gap: 1em
    margin: 0 auto

    &_item
        min-height: 30em
        display: flex
        flex-direction: row-reverse
        justify-content: space-between
    
        &:nth-of-type(2n)
            flex-direction: row

        &:nth-last-of-type(2n) *
            text-align: right

        &:nth-of-type(2n) div
            align-items: flex-end

        &:nth-of-type(4)
            height: 36em
            
            
        &_box
            width: 49%
            background-color: black
            display: flex
            justify-content: center
            align-items: center

            &__title
                color: $light-pink-text
                font-size: 2em
                font-weight: 200

        &__image
            position: relative
            width: 49%
            height: 100%
            min-height: 30em

        &_text
            width: 49%
            display: flex
            flex-direction: column
            justify-content: center
            background-color: $light-pink-text

            &:nth-of-type(2n)
                padding: 0.8em

            &__title
                text-transform: uppercase
                font-weight: 200
                margin-bottom: 0.8rem

            &_priceList
                margin-bottom: 0.8rem

                &__time
                    font-weight: 800

                &__price
                    font-weight: 200

            &__body
                width: 80%
                font-weight: 200
                margin-bottom: 0.8rem

    &_aside
        display: grid
        gap: 0.8em
        margin-top: 1.5em

        &__item
            font-weight: 200
            font-style: italic
