@use '../variables' as *

.subheader
    @include sub-header
    background-image: url('/assets/Yasmin13.jpg')
    background-position: 0% 35%

.touch
    width: 60%
    margin: 0 auto

    &__subtitle
        font-size: 1.4em
        text-transform: uppercase
        font-weight: 200
        margin: 0.8em 0 0.2em 0

    &_details

        &_list

            &__item