@use '../variables' as *
    

@media screen and ( max-width: $tablet )
    
    .header
        position: fixed
        width: 100%
        height: 3em
        background-color: $opaque-pink-text
        color: black
        display: flex
        justify-content: space-between
        align-items: center
        z-index: 1000

        &__title
            position: relative
            font-size: 1.5em
            color: black
            transition: color 150ms ease

            &:hover
                color: $that-red-one

        &__nav
            // position: absolute
            width: 100%
            // height: 100vh
            color: black
            display: flex
            align-items: center

    
.header
    position: fixed
    width: 100%
    height: 3em
    background-color: $opaque-pink-text
    color: black
    display: flex
    justify-content: space-between
    align-items: center
    z-index: 1000

    &__title
        position: relative
        font-size: 1.5em
        color: black
        transition: color 150ms ease

        &:hover
            color: $that-red-one

    &__nav
        position: block
        width: 45%
        height: 100%
        color: black
        display: flex
        align-items: center

@media screen and ( min-width: $desktop-sm )
    
    .header
        position: fixed
        width: 100%
        height: 3em
        background-color: $opaque-pink-text
        color: black
        display: flex
        justify-content: space-between
        align-items: center
        z-index: 1000

        &__title
            position: relative
            font-size: 1.5em
            color: black
            transition: color 150ms ease

            &:hover
                color: $that-red-one

        &__nav
            position: block
            width: 45%
            height: 100%
            color: black
            display: flex
            align-items: center