$light-pink-text: #ffefe8
$that-red-one: rgba(200, 30, 5, 0.8)
$photo-height: 40em

@mixin sub-header
    position: fixed
    width: 100%
    height: $photo-height
    background-color: $light-pink-text
    background-blend-mode: multiply
    background-repeat: no-repeat
    background-size: contain
    display: flex
    justify-content: center
    align-items: center
    padding-top: 3em
    color: $that-red-one
    z-index: -1
