@use './variables' as *
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300500&display=swap')

body 
  font-family: 'Manrope', sans-serif
  background-color: $light-pink-text

.stop-scrolling
  height: 100%
  overflow: hidden

a 
  color: inherit
  text-decoration: none

* 
  box-sizing: border-box
  padding: 0
  margin: 0

svg 
  width: 2em
  height: 2em
  fill: $light-pink-text

header 
  position: absolute
  width: 100%
  display: flex
  justify-content: space-between
  padding: 0.3em 0.5em

h1 span 
  font-weight: 100
  text-transform: none

li 
  list-style: none

figure
  position: relative

svg 
  width: 2em
  height: 2em
  fill: black
  transition: fill 120ms ease

  &:hover
    fill: $that-red-one

.footer
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  background-color: $light-pink-text
  padding-bottom: 2em

@media screen and ( min-width: $desktop-m )
  body
    font-size: 1.3em

@media screen and ( min-width: $desktop-l )
  body
    font-size: 1.8em

@media screen and ( min-width: $desktop-xl )
  body
    font-size: 2.2em
  
